body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f1f1f1;
}

.navbar {
  display: flex;
  gap: 2rem;
  padding: 1rem 2rem;
  background-color: #2a9d8f;
  align-items: center;
  justify-content: space-between;
  max-height: 40px;
  
}
.linkTo {
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
}

.linkTo:visited,
.linkTo:active,
.linkTo:hover {
  text-decoration: none;
  color: #ffffff;
}


.cart-link {
  position: relative;
  display: flex;
  align-items: center;
}

.cart-count {
  position: absolute;
  top: -8px;
  right: -10px;
  background-color: red;
  color: white;
  border-radius: 50%;
  padding: 2px 6px;
  font-size: 0.75rem;
  font-weight: bold;
}

.logo {
  height: 60px;
  width: auto;
  margin-right: 1rem;
  border-radius: 15px;
}